/.idea
/*/target
/.iml
/*/mvnw
/*/.mvn/wrapper
/*/mvnw.cmd
/*/HELP.md
/*/*.iml


# font end
/*/.angular
/*/.vscode
/*/dist
/*/tmp
/*/out-tsc
/*/bazel-out

# Node
/*/node_modules
/*npm-debug.log
/*yarn-error.log

/*/package-lock.json